{% extends "accounts_base.html" %}
{% block title %}Note{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/account.css' %}" />
<div id="published_note">
</div>
<script src='/static/accounts/published_note.js'></script>
<script>
        var username = "{{ username | escapejs}}";
        var uuid = "{{ uuid }}";
        var text = "{{ text | escapejs }}";
        var title = "{{ title | escapejs}}";
        var category = "{{ category }}";
</script>
{% endblock %}
